<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>News Index</title>
</head>
  <body>
    <table>
    {% for datasource in datasources %}
      <tr><td>{{ datasource.source.name }}</td>
      {% for item in datasource.items %}
      {% if not forloop.first %}<tr>{% endif %}
      <td>
      <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {{ datasource.source.added }}
      {% if item.imgurl %}<br/><img src="{{ item.imgurl }}"/>{% endif %}
      </td>
      <tr/>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  </body>
</html>

