<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>News Index</title>
</head>
  <body>
{% for topic in topics %}
  {% if not topic.groups %} {% continue %} {% endif %}
{% if not loop.first%}<hr/>{% endif %}
{% if topic.name %}{{ topic.name }}<br/>{% endif %}
  {% for group in topic.groups %}
    {% if not group.datasources %} {% continue %} {% endif %}
{% if not loop.first %}<br/>{% endif %}
    {% if group.name %}{{ group.name }}<br/>{% endif %}
    {% for source in group.datasources %}
      {% if not loop.first %}<br/>{% endif %}
      {% for page in source.pages %}
{% if not loop.first %}<br/>{% endif %}
{{ source.name }}
<a href="{{ page.url }}" target="_blank">{{ page.title }}</a>
{{ source.added | utc14duration }}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}
  </body>
</html>

